@import 'reset.css';

body {
  margin: 0 20px;
}

.logo {
  width: 150px;
  display: block;
  margin: auto;
}

#button-container {
  margin-top: 28px;
  display: flex;
  justify-content: center;
}

#card-container {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}